﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.thecard{
    width: 150px;
    height: 250px;   
    font-size:30px; 
    color:white;
    background-repeat: no-repeat;
    background-size: 150px 250px;

    
}
.greencard{
    width: 150px;
    height: 250px;    
    background-image: url(/images/greenimage.jpg);
}

.redcard{
    width: 150px;
    height: 250px;
    background-image: url(/images/redimage.jpg);
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}