﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-controller="indexController">
    <div class="row">
        <div class="col-sm-12">
            <input type="button" class="btn btn-primary" value="Click if you love cats" ng-click="getImages()" />
            <input type="button" class="btn btn-primary" value="Add New Card" ng-click="addCard()" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 margin-bottom-10" data-ng-repeat="card in listCard track by $index">          
            <div class="thecard" ng-click="setStatus($index)" style="background-image:url({{card.url}});height: 100px;">
              <label ng-show="card.isActive && !card.isCat">{{$index + 1}}</label>  
            </div>
        </div>        
    </div>
    
</div>


@section scripts
{
    <script src="~/Views/Home/Index.js"></script>
}

